html {
height: 100%
}

* {
    box-sizing: border-box;
}


body {
background-image: url("tausta2.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

p {
font-family: "Verdana" "Helvetica";
text-decoration: none;
}

.etulogo {
margin: auto;
padding:2px;
}

/*Ohjaus bar*/

.bar {
margin:  auto;
background-color:grey;
height: 45px;
width: 100%;
font-family: "Verdana"  ;
font-weight: bold;
position:sitcky;
z-index:-1;

}
/*Pikkulogo*/
#logop {
float:left;
opacity: 1;
padding: 1px;
}

#logop:hover {
opacity: 0.5;
filter: alpha(opacity=50)
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

          /*Dropdown Pikalinkit*/
            .dropbtn {
              background-color:  #333;
              color: white;
              padding: 1px;
              cursor: pointer;
              text-align: center;
              border:none;
              height:45px;
              width:150px;
              float:left;
              display:inline-block;
              z-index:1;
              }

              .dropdown {
              position: relative;
              display: inline-block;
              z-index:1;
              }

              .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
              font-weight: normal;    
              }

              .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              z-index:1;
              }

              .dropdown-content a:hover {background-color: lightgrey;}

              .dropdown:hover .dropdown-content {
              display: block;
              }

              .dropdown:hover .dropbtn {
              background-color: red;
              }

/* Valkoinen asiointiruutu */

.main {
position: relative;
top: 10%;
height: 600px;
width: 100%
padding: 2px;
background-image:url("tausta.jpg");
opacity: 0.9;
}

.inner {
height:270px;
width:330px;
margin: auto;
position:relative;
opacity:1;

}

.text {
margin:auto
float:right;
width:250px;
height:250px;
padding:10px;
font-size:22px;
}

.isologo {
top: 10px;
float:left;
padding: 10px
}

/*Alabaari*/

.notes {
background-color:#081001 ;
color: white; 
font-size: 17px;
border-top-style: solid;
border-right-style: none;
border-bottom-style: solid;
border-left-style: none;
margin: auto;
padding: 30px;
border:none;
height:190px;
}

.notevasen {
height:190px;
width:300px;
float:left;
margin:auto;

}

.noteoikea {
height:190px;
width:350px;
float:left;
}


/*Alin baari*/

.lovernotes {
font-size:12px;
text-align: center;
color:white;
background-color: #073302;
width:100%;
padding:4px;
margin:auto;
border:none;
position:sticky;
bottom:0px;
left:0px;
right:0px;
}
